<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Инсталятор SantaFox</title>

<link href="/admin/templates/default/css/style.css" rel="stylesheet" type="text/css">
<link href="/admin/templates/default/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/admin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/admin/js/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript">
 
var num_step_curent = 0;
var finish_url;


function show_message(content_console)
{
    var str_html = $("#console_content").html();
    if ((content_console.length <= 0) && (str_html == ""))
        return;
    //Теперь проверим, если есть новые сообщения
    if (str_html.length>500)
        str_html = str_html.substr(0,500);
    str_html = "" + content_console + "<br>" + str_html;
    $("#console_content").html(str_html);
    $("#console_content").dialog({
        resizable: true,
        height:200,
        width:400,
        modal: false,
        title: 'Статус процесса',
        buttons: {
            "OK": function() {
                $(this).dialog( "close" );
            }
        },
        show: "slide",
        hide: "slide"//"explode"
    });

}

//Обнавляет информацию о действиях в статус баре
function show_message_dir(dirc, dira)
{
    $('#console_content').dialog('option', 'title', 'Создано ' + dirc + ' дирректорий из '+ dira +'');
}

//Обнавляет информацию о действиях в статус баре
function show_message_files(filec, filea)
{
    $('#console_content').dialog('option', 'title', 'Скопировано ' + filec + ' Kb из '+ filea +' Kb');
}

function show_message_hide()
{
    $('#console_content').dialog("destroy");
}


function redirect_admin(url)
{
    $('#btnNext').attr('disabled', true);
    $('#btnPrev').removeAttr('disabled');
    $('#btnAll').removeAttr('disabled');
    finish_url = url;
}

function finish_install()
{
    document.location = finish_url;
}


function set_step_next()
{
    if (num_step_curent==0)
    {
        num_step_curent++;
        show_curent_step();
        $("#center-div").load("index.php?step="+num_step_curent);
        return;
    }
    var url= '/sinstall/index.php?savestep='+num_step_curent;

    var postArr = $('#sinstall_form').serializeArray();
    // покажем loading картинку
    $('#center-div').empty();
    $('#center-div').append('<img src="/sinstall/images/sinstall_loading.gif" style="position:absolute; left:50%; top:50%; margin:-12px 0 0 -80px;" alt="Loading">');
    $.post(url, postArr,  function(data)
    {
        try
        {
            var post_res=jQuery.parseJSON(data);
            if (post_res.success)
            {
                num_step_curent++;
                show_curent_step();

                if (num_step_curent!=5)
                    $('#center-div').empty();// уберём картинку загрузки
                $("#center-div").load("index.php?step="+num_step_curent);
                $('#btnPrev').removeAttr('disabled');
            }
            else
            {
                alert('Ошибка: '+post_res.info);
                $("#center-div").load("/sinstall/index.php?step="+num_step_curent);
            }
        }
        catch (e)
        {
            alert('Ошибка при сохранении: '+ e);
        }
    });
}

function show_curent_step()
{
    var html;
    if (num_step_curent == 0)
        html = "Инсталяция включает <span class='highlight'>5</span> шагов</span>";
    else
        html = "Шаг&nbsp;<span class='highlight'>"+num_step_curent+"</span> из <span class='highlight'>5</span>&nbsp;</span>";
    $('#div_curent_step').html(html);
}
//В обратном шаге ничего отсылать не надо, просто подгружаем
//соответствующий конетнт и всё
function set_step_return()
{
    if (num_step_curent == 0)
        return;
    if (num_step_curent > 5)
        num_step_curent = 5;
    num_step_curent--;
    show_curent_step();
    $("#center-div").load("/sinstall/index.php?step="+num_step_curent);
    if (num_step_curent == 0)
        $('#btnPrev').attr('disabled', true);
    $('#btnNext').removeAttr('disabled');
}

$(document).ready(function(){
    show_curent_step();
   $('#center-div').load("/sinstall/index.php?step=0");
});
</script>
</head>
<body>

<div id="install_container" class="content">

 <div class="install_header">
  <span class="block fLeft">
   <span id="div_curent_step"></span>
  </span>
 
  <span class="block fRight">
   Santafox
  </span>
  
  <span class="block clear"></span>
 </div>
 
 <div id="center-div"></div>
 
 <div class="buttons">
  <span id="idbtn-prev"><input type="button" id="btnPrev" onclick="set_step_return();" value=" &larr; Назад" disabled></span>
  <span id="idbtn-next"><input type="button" id="btnNext" onclick="set_step_next();" value=" Вперёд &rarr;"></span>
  <span id="idbtn-all"><input type="button" id="btnAll" onclick="finish_install();" value=" &radic; Готово" disabled></span>
 </div>
 
</div>
</body>
</html>