<p class="header_box">Введите параметры для доступа к mySQL</p>
 
<form action="" method="post" id="sinstall_form">
 <fieldset>
  <label for="hostadress">Адрес сервера MySQL:</label>
  <input type="text" id="hostadress" name="hostadress" value="[#value_hostadress#]">
 </fieldset>
 
 <fieldset>
  <label for="login">Логин для соединения с MySQL:</label>
  <input type="text" id="login" name="login" value="[#value_login#]">
 </fieldset>
 
 <fieldset>
  <label for="password">Пароль для соединения с MySQL:</label>
  <input type="text" id="password" name="password" value="[#value_password#]">
 </fieldset>
 
 <fieldset>
  <label for="namebase">Имя базы данных</label>
  <input type="text" id="namebase" name="namebase" value="[#value_namebase#]">
 </fieldset>
 
 <fieldset>
  <label for="prefix">Префикс таблиц</label>
  <input type="text" id="prefix" name="prefix" value="[#value_prefix#]">
 </fieldset>
</form>