<p class="header_box">Введённые параметры</p>
<table width="100%" height="100%" style="margin-top:15px;">
    <tr>
      <td>
        <table cellspacing="5" cellpadding="0" border="0">
        <tr>
          <td width="25%" align="right"><strong>FTP хост:</strong></td>
          <td width="25%">[#ftp_value_hostadress#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Хост сервера MySql:</strong></td>
          <td width="25%">[#mysql_value_hostadress#]</td>
        </tr>
        <tr>
          <td width="25%" align="right"><strong>FTP логин:</strong></td>
          <td width="25%">[#ftp_value_login#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Имя базы данных:</strong></td>
          <td width="25%">[#mysql_value_namebase#]</td>
        </tr>
        <tr>
          <td width="25%" align="right"><strong>FTP пароль:</strong></td>
          <td width="25%">[#ftp_value_password#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Логин к MySql:</strong></td>
          <td width="25%">[#mysql_value_login#]</td>
        </tr>
        <tr>
          <td width="25%" align="right"><strong>Путь инсталяции:</strong></td>
          <td width="25%">[#ftp_value_path#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Пароль к MySql:</strong></td>
          <td width="25%">[#mysql_value_password#]</td>
        </tr>

        <tr>
          <td width="25%" align="right"><strong>админ логин:</strong></td>
          <td width="25%">[#admin_login#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Тип инсталяции:</strong></td>
          <td width="25%">[#install_type#]</td>
        </tr>

        <tr>
          <td width="25%" align="right"><strong>админ пароль:</strong></td>
          <td width="25%">[#admin_pass#]</td>
          <td width="30">&nbsp;</td>
          <td width="25%"><strong>Кодировка шаблонов</strong></td>
          <td width="25%">[#templates_encoding#]</td>
        </tr>
      </table>
     </td>
  </tr>
  <tr>
    <td align="center">
    <p style="color:red; font-weight:bold;">Если вся информация введена верно, то сейчас будет создан файл ini.php</p>
    <p>Нажми "Вперёд" для продолжения.</p>
    </td>
  </tr>
</table>
