<p class="header_box">Введите адрес Вашего сервера, логин и пароль для подключения к нему.</p>

<form action="" method="post" id="sinstall_form">
 <fieldset>
  <label for="domen" style="padding-top:0;">Доменное имя:<br><small>(должно начинаться на http://)</small></label>
  <input type="text" id="domen" name="domen" value="[#value_domen#]">
 </fieldset>
 
 <fieldset>
  <label for="hostadress">Адрес FTP сервера:</label>
  <input type="text" id="hostadress" name="hostadress" value="[#value_hostadress#]">
 </fieldset>
 
 <fieldset>
  <label for="loginftp">Логин FTP:</label>
  <input type="text" id="loginftp" name="login" value="[#value_login#]">
 </fieldset>
 
 <fieldset>
  <label for="ftppass">Пароль FTP:</label>
  <input type="text" id="ftppass" name="password" value="[#value_password#]">
 </fieldset>
 
 <fieldset>
  <label for="path" style="padding-top:0;">Путь, куда проинсталировать CMS:<br><small>(папка)</small></label>
  <input type="text" id="path" name="path" value="[#value_path#]" disabled>
 </fieldset>
</form>