@import "/design/css/style.css";

h1 {
    font-family: MyriadProRegular;
    font-size: 21px;
    color: #58372D;
    padding-bottom: 20px;
    padding-top: 20px;
}

table th {
    font-family: FranklinGothicMedium;
    font-size: 18px;
    color: #58372D;

    background: #fcfcf1; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcf1 0%, #e4e9d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcf1), color-stop(100%,#e4e9d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcf1 0%,#e4e9d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcf1 0%,#e4e9d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcf1 0%,#e4e9d6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcf1 0%,#e4e9d6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcf1', endColorstr='#e4e9d6',GradientType=0 ); /* IE6-9 */

    padding: 10px;
    padding-left: 20px;
}
table td {
    font-family: TrebuchetRegular;
    font-size: 14px;
    color: #696A6A;
    padding: 10px;
    padding-left: 20px;
}
table tr {
    border: 1px solid #D5DAD6;
}
table tr:nth-child(1) {
    border: 1px solid #D5DAD6 !important;
}
table tr:nth-child(odd) {
    background: #edf0f0;
    border: none;
}

.road_line {
    background: #6FA642;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}
.road {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 13px;
    margin: 0 auto;
    width: 1000px;
}
.road a {
    color: #ffffff;
    font-size: 18px;
    font-family: FranklinGothicMedium;
}
.road a:hover {
    color: #83503D;
}
.road .active {
    font-size: 18px;
    font-family: FranklinGothicMedium;
    color: #83503D;
}

.under_road_line {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
}
.under_road {
    /*border-bottom: 1px solid #cdcdcf;*/
    /*padding-bottom: 20px;*/
    margin: 0 auto;
    width: 1000px;
}
.under_road2 {
    border-bottom: none;
}
.cont {
    padding-top: 20px;
    clear: both;
    min-height: 500px;
}
.cont .col1 {
    float: left;
    width: 47%;
}
.cont .col2 {
    float: right;
    width: 47%;
}
.cont .clear {
    clear: both;
    padding-bottom: 20px;
}



/**
* Новости
*/
.news .article {
    clear: both;
}
.news .image {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}
.news .desc {

}
.news .desc a {
    color: #58372D;
    font-family: MyriadProRegular;
    font-size: 21px;
}
.news .title {
    font-family: TrebuchetRegular;
    font-size: 18px;
    font-weight: bold;
    color: #6DA441;
    padding-bottom: 30px;
}
.pages {
    clear: both;
    float: right;
    font-family: MyriadProRegular;
    font-size: 21px;
    color: #58372D;
}
.pages a,.pages span {
    margin-left: 10px;
}
.pages a:hover {
    color: #6DA441;
}
.pages .active {
    background: #6DA441;
    border-radius: 150px;
    color: #ffffff;
    padding: 5px 10px 3px 10px;
}



/* Каталог товаров */
.cats {
    float: left;
    width: 194px;
    font-family: FranklinGothicMedium;
    padding-right: 40px;
}
.cats .title {
    color: #70A22D;
    font-size: 21px;
    padding-bottom: 22px;
}
.cats li {
    list-style: none;
}
.cats li a, .cats span {
    color: #635f5e;
    background: #ededed;
    margin-bottom: 7px;
    padding: 9px 10px 6px 16px;
    display: block;
    width: 166px;
    font-family: FranklinGothicMedium;
}
.cats li a:hover, .cats span {
    color: #ffffff;
    background: #70A12d;
}
.products, .content_block {
    margin-left: 234px;
}
.products h1 {
    font-family: FranklinGothicMedium;
    font-size: 28px;
    padding-top: 0px !important;
}
.products .item {
    float: left;
    width: 222px;
    height: 252px;
    display: block;
    cursor: pointer;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.products .image {
    height: 184px;
    padding-top: 20px;
    border: 1px solid #F1F0F0;
}
.products .name {
    display: block;
    border: 1px solid #F1F0F0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #706e6d;
    font-size: 17px;
    background-color: #f8f8f8;
}
.products .item:hover .image {
    border: 1px solid #7b7b7b;
    border-bottom: none;
}
.products .item:hover .name {
    display: none;
}
.products .item:hover .name_hover {
    display: block;
}
.products .item .name_hover {
    display: none;
}
.products .name_hover {
    background-color: #70A12d;
    color: #ffffff;
    border: 1px solid #a2a0a0;
    height: 50px;
}
.products .item .name_hover .text {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 165px;
    float: left;
    border-right: 2px solid #68962e;
    border-right: 2px solid #68962e;
    font-size: 20px;
}
.products .name_hover .img {
    float: right;
    padding: 6px 11px 0px 0px;
}
.products .cat_desc {
    color: #706e6d;
    font-family: Trebuchet;
    font-size: 14px;
}

.pages {
    font-family: MyriadProRegular;
    font-size: 17px;
    color: #60392c;
    padding-bottom: 50px;
    position: relative;
    right: 40px;
    top: 20px;
}
.pages .passive {
    color: #70a12d;
}
.page_prev, .page_prev_passive, .page_next, .page_next_passive {
    background-color: #f2f2f2;
    color: #635f5e;
    font-size: 18px;
    font-family: TrebuchetRegular;
    padding: 5px 10px 5px 10px;
}
.page_prev_passive, .page_next_passive {
    color: #d5d3d3;
}
.page_prev, .page_prev_passive {
    float: left;
}
.page_next, .page_next_passive {
    float: right;
    margin-right: 40px;
}
.page_prev:hover, .page_next:hover {
    color: #70a12d;
    cursor: pointer;
}

.products .big_image {
    width: 200px;
    height: 300px;
    float: left;
    display: block;
}
.products .desc {
    float: left;
    padding-left: 80px;
    width: 372px;
}

.contacts .title {
    font-family: FranklinGothicMedium;
    font-size: 28px;
    color: #885135;
    padding-bottom: 20px;
}
.contacts #map {
    width: 703px;
    height: 225px;
    float: left;
    padding-bottom: 20px;
}
.contacts .image {
    float: right;
    padding-bottom: 20px;
}

.feedback .title {
    font-family: FranklinGothicMedium;
    font-size: 28px;
    color: #885135;
    padding-bottom: 20px;
}
.feedback input, textarea {
    background-color: #f7f7f7;
    border: solid 2px #ededed;
    width: 394px;
    height: 34px;
    margin-bottom: 15px;
    display: block;

    font-family: TrebuchetRegular;
    font-size: 14px;
    line-height: 18px;
    color: #646565;
    padding-left: 15px;
    padding-right: 15px;
}
.feedback textarea {
    height: 143px;
}
.feedback .send {
    background-color: #6EA92D;
    color: #ffffff;
    width: 125px;
    height: 40px;
    border: 0px;
    font-family: TrebuchetRegular;
    font-size: 17.35px;
    margin-left: 303px;
}
.feedback .send:hover {
    cursor: pointer;
    border-top: 2px solid #669D2F;
    background: #557c2d;/*6FA82D*/
    background-image: linear-gradient(to bottom, #557c2d, #6FA82D);
}

.feedback .error {
    color: red;
    padding-bottom: 10px;
}
.feedback .correct {
    color: green;
    padding-bottom: 10px;
}