@import "style.css";

h1 {
    font-family: MyriadProRegular;
    font-size: 18px;
}
h2 {
    font-family: MyriadProRegular;
    font-size: 16px;
}

/**
* Слайдер
*/
.slider .prev_slide {
    position: absolute;
    margin-top: 155px;
    margin-left: -20px;
}
.slider .next_slide {
    position: absolute;
    margin-top: -185px;
    margin-left: 1010px;
}
.slider .slide {
    height: 338px;
}
.slider .shadow {
    margin-top: -3px;
}
.slider .slide span {
    font-family: MyriadProRegular;
    font-weight: bold;
    font-size: 28px;
    background: rgba(110, 166, 66, 0.8);
    padding: 15px 8px 12px 27px;
    color: #ffffff;
    position: relative;
    top: -176px;
    float: right;
}

/**
* Контент
*/
.block1, .block2 {
    margin-top: -27px;
}
.block1 {
    float: left;
    width: 617px;
}
.block1 p {
    padding-top: 28px;
}
.block2 {
    float: right;
    width: 303px;
    padding-right: 20px;
}
.block2 .stock {
    background: #fafaf4;
    font-family: TrebuchetRegular;
    font-size: 13px;
    color: #5E3925;
    margin-top: 13px;
    padding-bottom: 15px;
}
.block2 .stock td {
    padding: 9px 0 5px 21px;
}
.block2 .stock .col2 {
    text-align: center;
}
.block2 .stock .green {
    font-size: 19px;
    color: #63973B;
    font-weight: bold;
}
.block2 p {
    font-size: 13px;
    color: #646565;
    padding-top: 8px;
    padding-left: 3px;
}

/**
* Еда
*/
.foods {
    clear: right;
    padding-top: 13px;
}
.foods .food {
    float: left;
    padding-right: 15px;
}
.foods .line {
    padding-top: 26px;
}
.foods a {
    font-size: 17.5px;
    display: block;
    text-align: center;
    color: #727477;
}
.foods a:hover {
    color: #6DA441;
    font-size: 17.5px;
}

/**
* О компании Новости Контактная информация
*/
.about, .news, .contacts {
    float: left;
    padding-top: 45px;
}
.about h1, .news h1, .contacts h1 {
    padding-bottom: 13px;
}
.about {
    width: 313px;
}
.news {
    width: 290px;
    padding-left: 22px;
}
.news a {
    font-size: 13.5px;
    font-weight: bold;
    color: #805039;
}
.news p {
    padding-top: 11px;
    padding-bottom: 11px;
}
.news a:hover {
    color: #6DA441;
}
.news .item {
    overflow: hidden;
    width: 290px;
    height: 113px;
}
.contacts {
    width: 305px;
    padding-left: 50px;
}