<head>
<meta http-equiv="Content-Type" content="text/html; charset=[#set_charset#]">
<link rel="StyleSheet" href="css/css.css" type="text/css" />
</head>
<body>
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="middle"><table width="300px"><tr><td style="border-color:#000000; border-style:solid; border-width:1px;"><table width="100%"><tr><td align="center" width="128" height="128"><img src="/admin/images/activcard-mac_r5_c8.png" width="128" height="128"></td>
    <td align="left" valign="middle">[#message_errore#]</td>
    </tr></table></td></tr></table></td>
  </tr>
</table>

</body>
</html>
