<!-- @content -->
<div class="grey_wrapper">
 <div id="accordion">
[#panels#]
</div>
</div>
<script type="text/javascript">
    // accordion
    var icons = {
        header:"ui-icon-carat-1-s",
        headerSelected:"ui-icon-carat-1-e"
    };

    $("#accordion").accordion({
        icons:icons,
        header:"span.acordion_header",
        ccollapsible:false,
        autoHeight:false,
        fillSpace:false
    });
    $( "#accordion" ).accordion({ active: [#active_block_num#] });

</script>
<!-- @panel_block -->
<div>
 <span class="acordion_header"><a href="#">[#name_panel#]</a></span>
 <div>
 [#content_panel#]
 </div>
</div>
<!-- @lm_delimiter -->
<!-- @lm_menu_passiv -->
<a href="" onclick="start_interface.left_menu_click(this, '%query%'); return false;" class="left_menu" id="[#id#]">[#name#]</a>

<!-- @lm_menu_activ -->
<a href="" onclick="start_interface.left_menu_click(this, '%query%'); return false;" class="left_menu_select" id="[#id#]">[#name#]</a>
  <script type="text/javascript">
    // Обновим переменную яваскрипта, что бы было известно какой сейчас выделен пункт меню
    start_interface.left_menu_element_select = $("#[#id#]");
    // И сразу же вызовем обновление контента для этого пункта меню
    start_interface.left_menu_click(start_interface.left_menu_element_select, "[#get_url#]");
  </script>

