<!-- @module_row -->
<option value="%key%">%label%</option>

<!-- @body -->
<script type="text/javascript">


$("#new_module_install").click(function () {
    var postArr = {modul_install: $("#select_modul").val()};
    $.post('%url_action%', postArr,  function(data){
        document.location='/admin/';
    });
});

if($('#select_modul').is(':empty'))
   $('.content').html('<h3>[#modules_install_base_header#]</h3><p>Все доступные модули установлены</p>');

</script>
<span class="content_header">Модули &rarr; <span class="black">Инсталляция модулей</span></span>
<div id="page_container">
 <div id="content_container">
  <div class="content">
  <h3>[#modules_install_base_header#]</h3>

            <form action="%url_action%" method="post">
  <fieldset>
   <label for="select_modul">[#modules_install_spisok_dostupnih#]:</label>
   <select name="modul_install" id="select_modul">%modules_rows%</select>
  </fieldset>

  <fieldset class="page_submit_field">
            <input type="button" id="new_module_install" value="[#modules_link_new_base_module#]">
  </fieldset>
            </form>
        </div>
</div>
</div>
