<!-- @data_empty -->
<h4 class="stat_data_empty">[#statist_erorre_no_data_for_show#]</h4>

<!-- @main -->
<br>
<table class="admin_table">
<tr>
  <td valign="top">%table_domain%</td>
  <td width="10" nowrap="nowrap"></td>
  <td valign="top">%table_referer%</td>
</tr>
</table>

<!-- @domain_begin -->
<table class="admin_table">
    <tr>
      <th>[#statist_referer_table_label1#]</th>
      <th>[#statist_referer_table_label2_2#]</th>
      <th>[#statist_referer_table_label3#]</th>
    </tr>

<!-- @domain_tr -->
    <tr %set_class_tr%>
      <td align="center">%num%</td>
      <td align="center"><A href="%link%" target="blank">%name_link%</A></td>
      <td align="right">%count%</td>
    </tr>


<!-- @domain_end -->
  </TABLE>

<!-- @ref_begin -->
<table class="admin_table">
    <tr>
      <th>[#statist_referer_table_label1#]</th>
      <th>[#statist_referer_table_label2#]</th>
      <th>[#statist_referer_table_label3#]</th>
    </tr>

<!-- @ref_tr -->
    <tr %set_class_tr%>
      <td align="center">%num%</td>
      <td align="left"><A href="%link%" target="blank">%name_link%</A></td>
      <td align="right">%count%</td>
    </tr>


<!-- @ref_end -->
  </TABLE>

