<!-- @data_empty -->
<h3>[#statist_erorre_no_data_for_show#]</h3>

<!-- @begin -->

<!-- @image -->
%link_image%
<!--<img src="%link_image%" border="0"/><br />-->

<!-- @table_begin -->
<table class="admin_table">
    <tr>
      <th class="first">[#statist_host_table_label1#]</th>
      <th>[#statist_host_table_label2#]</th>
      <th class="last">[#statist_host_table_label3#]</th>
    </tr>

<!-- @table_tr -->
    <tr %set_class_tr%>
      <td>%date%</td>
      <td>%host%</td>
      <td>%hit%</td>
    </tr>
<!-- @table_end -->
  </table>

<!-- @end -->
</div>