<!-- @data_empty -->
<h4 class="stat_data_empty">[#statist_erorre_no_data_for_show#]</h4>

<!-- @begin -->
<br />
<table border="0" cellspacing="1" cellpadding="6 " align="center" class="admin_table">
    <tr>
      <th>[#statist_ip_table_label1#]</th>
      <th>[#statist_ip_table_label2#]</th>
      <th>[#statist_ip_table_label3#]</th>

<!-- @tr -->
    <tr %set_class_tr%>
      <td align="center">%num%</td>
      <td align="center"><A href="%link%" target="blank">%name_link%</A></td>
      <td align="center">%count%</td>
	</tr>
<!-- @end -->
</table>

